<!-- <div>
<hr>
<h3> Support my work with a coffee </h3>
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="dr563105" data-color="#56B4E9" data-emoji=""  data-font="Poppins" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>

<hr>
</div> -->
<div>
<h3 style="color: teal">Want to support my blog?</h3>
<a href="https://www.buymeacoffee.com/dr563105" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/default-blue.png" alt="Buy Me A Coffee" height="30"></a>
</div>
